/*#C49FBA*/
html{
  font-size: 18px;
  background-color: white;
  z-index: 10;
}

@font-face{
  font-family: WirewyrmRegular;
  src: url("../fonts/wirewyrmmedium.woff");
}

@font-face{
  font-family: WirewyrmLight;
  src: url("../fonts/wirewyrmlight.woff");
}

@font-face{
  font-family: WirewyrmItalic;
  src: url("../fonts/wirewyrmitalic.woff");
}

h1, h2, h3{
  font-family: WireWyrmRegular;
}

h4, h5, h6{
  font-family: WireWyrmLight;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 1.5rem;
}

h3{
  font-size: 1.25rem;
}

h4{
  font-size: 1.5rem;
}

.button-nav{
    border: solid #C49FBA 1px;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.button{
    border: solid white 1px;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.button:hover{
  background-color: #C49FBA;
}

.button-nav:hover{
  background-color: #C49FBA;
}

header{
  font-family: wirewyrmlight;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 4.5rem;
  background-color: white;
  color: white;
  opacity: 0.95;
  z-index: 100;
  top: 0;
}

nav{
  margin-right: 2rem;
}

header a{
  color: black;
  margin: 0 0.5rem;
}

nav a:hover{
  border-bottom: solid black 1px;
}


.mobile-nav{
  display: none;
}

.jumbotron{
  background-image: url("../images/DE6E94D7-4A0A-41A3-B42C-A405B022810A.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(240, 248, 255, 0.1);
}

.welcome h1{
  margin-top: 0.05rem;
}

.welcome h3{
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.welcome a{
  margin-bottom: 10rem;
  color: white;
  font-family: wirewyrmlight;
}

.gallery{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 40rem;
    background: white;
    position: relative;
}

.galleryrow{
  display: flex;
  flex-wrap: nowrap;
  height: 50%;

}

.galleryimage{
    height: 100%;
    border-top: solid white 0.125rem;
    border-bottom: solid white 0.125rem;
}

.gallerymessege{
  background-color: rgba(240, 248, 255, 0.0);
  color: rgba(0, 0, 0, 0.0);
  height: 100%;
  width: 100%;
  transition: .5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallerymessege:hover{
  background-color: rgba(240, 248, 255, 0.7);
  color: rgba(0, 0, 0, 1.0);
}

#newbox{
  background-image: url("../images/IMG_9124.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 39%;
  border-right: solid white 0.0625rem;
}

#chickenongrill{
  background-image: url("../images/chickenongrill.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 61%;
  border-left: solid white 0.0625rem;
}

#lineatthemarket{
  background-image: url("../images/transaction.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 61%;
  border-right: solid white 0.0625rem;
}

#watermelonbox{
  background-image: url("../images/boxwithwatermelon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 39%;
  border-left: solid white 0.0625rem;
}

.partners{
  display: flex;
  align-items: center;
  height: 22rem;
  width: 100%;
  background-image: url("../images/C2E01F49-0ECC-4EF0-8907-DAD4160933DA.jpeg");
/*  background-color: #C49FBA; */
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.partnersmessege {
  color: white;
  height: 100%;
  width: 100%;
  padding: 0 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(240, 248, 255, 0.2);
}

.partnersmessege a{
  color: white;
  margin-top: 2rem;
  font-family: wirewyrmlight;
}

.instagram{
  text-align: center;
}

.instagram a{
  border-bottom: solid black 1px;
}

.instagram a:hover{
  color: #C49FBA;
}

.instagram h2, .instagram h3{
    margin: 1rem auto;
}

.insta-gallery{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.insta-pic{
  height:22vw;
  width: 22vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1.5vw;
}

#insta-one{
  background-image: url("https://www.instagram.com/p/BcR9wMPFiwF/media");

}

#insta-two{
  background-image: url("https://www.instagram.com/p/BbC9ivTl5f7/media");
}

#insta-three{
  background-image: url("https://www.instagram.com/p/BbKqKKSFJN-/media");
}

#insta-four{
  background-image: url("https://www.instagram.com/p/Ba9xWQMl42e/media");
}

#insta-five{
  background-image: url("https://www.instagram.com/p/Ba7bp8lF3v0/media");
}

#insta-six{
  background-image: url("https://www.instagram.com/p/BawTxhnFWFT/media");
}

#insta-seven{
  background-image: url("https://www.instagram.com/p/BVsFOOsl2Gc/media");
}

#insta-eight{
  background-image: url("https://www.instagram.com/p/BVn9Ps3F4di/media");
}

footer{
  font-family: wirewyrmlight;
  background-color: #C49FBA;
  color: white;
  height: 12rem;
}

.footer-nav{
    display: flex;
    margin-left: 3rem;
}

footer a{
  color: white;
  margin: 0.125rem 0;
}

.footer-row{
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
}

footer .close{
  display: flex;
  align-items: flex-end;
  text-align: right;
  color: white;

  float: right;
  margin-right: 3rem;
}


/* Video page */

.video-block{
  height: 100vh;
  width: 100vw;
  background-color: rgba(240, 248, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 200;
}
